* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #eeeeee;
  margin: 0;
}

main {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  background: #ffffff;
}

.settings{
    background: #eeab9ef8;
    padding: 20px;
}

.ready {
    background:#E37F69;
    padding: 20px;
}

.game {
  background: #80d5d9;
  padding: 20px;
  margin-top: 30px;
}

.results {
  background: #f7dc66;
  padding: 20px;
  margin-top: 30px;
}
